<div class="" style="float: left; width: 25%;">

    <div style="border: 1px solid; margin-right: 20px;">

        <div class="name">
            {{ name }}
        </div>

        <div class="company">
            {{ company }}
        </div>

        <div class="quote">
            {{ quote }}
        </div>

    </div>

</div>
