{{#extend "@template"}}

    {{#content "content"}}

        <div class="main">
            {{#block "mainContent"}}
                main content
            {{/block}}
        </div>

    {{/content}}

{{/extend}}
