{{#extend "@template"}}

    {{#content "content"}}

        <div class="main">
            {{#block "mainContent"}}
                main content
            {{/block}}
        </div>

        <div class="right">
            {{#block "rightContent"}}
                right content
            {{/block}}
        </div>

    {{/content}}

{{/extend}}
