<form class="c-form">

    <fieldset class="c-form__fieldset">

        <legend class="c-form__legend">
            Form Legend
        </legend>


        <div class="u-grid__row">
            <div class="u-grid__col:4@md">
                {{render '@field-text' myData merge=true}}
            </div>

            <div class="u-grid__col:4@md">
                {{render '@field-text' yourData merge=true}}
            </div>

            <div class="u-grid__col:4@md u-grid__col:no-space">
                {{> '@field-text'}}
            </div>
        </div>

    </fieldset>

</form>
