<h1>{{homepageTitle}}</h1>


<h3>Include form-example but without the data provided by the component itself</h2>
{{> '@form-example'}}

<hr />

<h3>Include form-example with the the data provided by the component itself</h2>
{{render '@form-example' formData merge=true}}

<hr />

<h3>Include a list but add new data to the component</h2>
{{render '@person-list' persons merge=false}}
